In [1]:
import pandas as pd
import os
from datetime import datetime as dt
import re




file_loc = '../data/raw/Transactional Data/'
file_loc1 = '../data/raw/Budget Template.xlsx'


def combine_csv_files(file_loc):
    
    listofnames = [f for f in os.listdir(file_loc) if f.endswith('.csv')]
    
    print('Opening: ')
    for ea in listofnames:
        
        print(ea)
        try:
            df = df.append(pd.read_csv(file_loc + ea))
        except:
            df = pd.read_csv(file_loc + ea)
    
    return df

In [2]:
fin = combine_csv_files(file_loc)
fin.columns = fin.columns.str.replace(r"[ ]","_")
fin['Date'] = pd.to_datetime(fin['Date'])
fin['Month'] = fin['Date']

Opening:
Amazon CC Transactions.csv
capone.csv
transactions.csv

In [3]:
fin = fin.groupby(['Date', 'Month', 'Category', 'Description', 
                   'Account_Name','Transaction_Type'], 
                  as_index=False).agg({'Amount':'sum', 
                                        'Original_Description':"count"})

fin.rename({'Original_Description':'Count'}, axis=1, inplace=True)
fin.rename({'Category':'Sub-Category'}, axis=1, inplace=True)

In [4]:
fin = fin[(fin['Date'] > '2017-06-30')]

In [5]:
fin['Sub-Category'].replace('Credit Card Payment', 'Transfer', inplace=True)
fin = fin[~fin['Sub-Category'].str.contains('Wedding Reimbursemen', na=False)]
fin = fin[~fin['Sub-Category'].str.contains('Wedding expenses', na=False)]
fin1 = fin

In [6]:
fin1 = fin1[~fin1['Sub-Category'].str.contains('Transfer', na=False)]

In [7]:
exp = pd.read_excel(file_loc1, sheet_name='Exp Ref')
fin1 = fin1.set_index('Sub-Category')
exp.set_index('Sub-Category', inplace=True)
exp.columns = exp.columns.str.replace(r"[ ]","_")

In [8]:
fin1 = fin1.join(exp, how="left").fillna("Research")
fin1.reset_index(inplace=True)

In [9]:
fin2 = fin1.loc[fin1['Expense_Type_Factor']=='Research']
print(fin2[['Date', 'Sub-Category', 'Description', 'Category', 'Amount']].head(25))


input("ERROR UPDATE: IF LINE ITEM APPEARS, GO BACK TO MINT.COM AND MAKE CORRECTIONS \n"
      "Otherwise, Press Enter to Continue:")

C:\Users\mdpur\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [Date, Sub-Category, Description, Category, Amount]
Index: []
ERROR UPDATE: IF LINE ITEM APPEARS, GO BACK TO MINT.COM AND MAKE CORRECTIONS
Otherwise, Press Enter to Continue:

''

In [10]:
# def forecast(row):
#     if row['Budget']=='Est':
#         return row['Amount']
#     else:
#         return '0'
    
# fin1['Forecast_Amount'] = fin1.apply(lambda x: forecast(x), axis=1)

fin1.loc[fin1['Budget']=='Est', 'Forecast_Amount'] = fin1['Amount']
fin1.loc[fin1['Budget']!='Est', 'Forecast_Amount'] = 0

fin1['Forecast_Amount'] = pd.to_numeric(fin1['Forecast_Amount'].astype(str).replace('[^0-9]]', "").copy())

fin1['Expense_Type_Factor'] = pd.to_numeric(fin1['Expense_Type_Factor'].astype(str).replace('[^0-9]]', "").copy())

In [11]:
fin1.columns = fin1.columns.str.replace(r"[ ]","_")

In [12]:
fin1['Budget_Amount'] = fin1['Expense_Type_Factor']*fin1['Forecast_Amount']

In [13]:
  
fin1.loc[fin1['Transaction_Type']=='credit', 'Amount'] = fin1['Amount']
fin1.loc[fin1['Transaction_Type']=='debit', 'Amount'] = fin1['Amount']*-1

In [14]:
fin1.set_index('Date', inplace=True)
fin1.columns = fin1.columns.str.replace(r"[_]"," ")

In [15]:
fin1 = fin1[['Month', 'Sub-Category', 'Description', 'Account Name',
       'Transaction Type', 'Count', 'Category Number',
       'Sub-Category Number', 'Category', 'Budget', 'Expense Type',
       'Expense Type Factor', 'Forecast Amount', 'Budget Amount', 'Amount']]

In [16]:
fin1_writer = pd.ExcelWriter('../data/final/financial_transactions.xlsx', engine = 'xlsxwriter',
                            datetime_format = 'mm/dd/yyyy')

fin1.to_excel(fin1_writer, 'Data')
workbook = fin1_writer.book
worksheet = fin1_writer.sheets['Data']
curFormat = workbook.add_format({'num_format': '$#,##0.00_);[Red]($#,##0.00)'})
worksheet.set_column('D:D', None, curFormat)
fin1_writer.save()

In [17]:
fin3 = fin

In [18]:
fin4 = fin3[fin3['Sub-Category']=='Transfer']


fin4.loc[fin4['Transaction_Type']=='debit', 'Transfer_Type'] = 'Out'
fin4.loc[fin4['Transaction_Type']!='Out', 'Transfer_Type'] = 'In'

fin4['Amount'] = fin4['Amount'].abs()
fin4

C:\Users\mdpur\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\mdpur\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\mdpur\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date,Month,Sub-Category,Description,Account_Name,Transaction_Type,Amount,Count,Transfer_Type
4476,2017-07-03,2017-07-03,Transfer,Transfer from BABY,CHECKING,credit,50.20,1,In
4477,2017-07-03,2017-07-03,Transfer,Transfer from HOUSE,CREDIT CARD,credit,105.11,1,In
4478,2017-07-03,2017-07-03,Transfer,Transfer to CREDIT CARD,SAFETY NET,debit,105.11,1,In
4479,2017-07-03,2017-07-03,Transfer,Transfer to SERVICE CHECKING,EMERSYN,debit,50.20,1,In
4492,2017-07-05,2017-07-05,Transfer,Transfer from HOUSE,CHECKING,credit,80.00,2,In
4493,2017-07-05,2017-07-05,Transfer,Transfer from HOUSE,CREDIT CARD,credit,60.00,1,In
4494,2017-07-05,2017-07-05,Transfer,Transfer from SERVICE CHECKING,SAFETY NET,credit,40.00,1,In
4495,2017-07-05,2017-07-05,Transfer,Transfer to CREDIT CARD,SAFETY NET,debit,60.00,1,In
4496,2017-07-05,2017-07-05,Transfer,Transfer to HOUSE,CHECKING,debit,40.00,1,In
4497,2017-07-05,2017-07-05,Transfer,Transfer to SERVICE CHECKING,SAFETY NET,debit,80.00,2,In
4501,2017-07-06,2017-07-06,Transfer,Transfer from SERVICE CHECKING,CREDIT CARD,credit,180.00,1,In
4502,2017-07-06,2017-07-06,Transfer,Transfer to CREDIT CARD,CHECKING,debit,180.00,1,In
4522,2017-07-11,2017-07-11,Transfer,Transfer from SERVICE CHECKING,MORTGAGE,credit,174.94,1,In
4523,2017-07-11,2017-07-11,Transfer,Transfer to CLUB SAVINGS,CHECKING,debit,174.94,1,In
4524,2017-07-12,2017-07-12,Transfer,Transfer from HOUSE,CHECKING,credit,2020.00,1,In
4525,2017-07-12,2017-07-12,Transfer,Transfer to SERVICE CHECKING,SAFETY NET,debit,2020.00,1,In
4533,2017-07-14,2017-07-14,Transfer,Transfer from SERVICE CHECKING,CREDIT CARD,credit,300.00,1,In
4534,2017-07-14,2017-07-14,Transfer,Transfer to CREDIT CARD,CHECKING,debit,300.00,1,In
4546,2017-07-17,2017-07-17,Transfer,Transfer from SERVICE CHECKING,SAFETY NET,credit,20.00,1,In
4547,2017-07-17,2017-07-17,Transfer,Transfer to HOUSE,CHECKING,debit,20.00,1,In
4552,2017-07-18,2017-07-18,Transfer,Transfer from SERVICE CHECKING,CREDIT CARD,credit,450.00,2,In
4553,2017-07-18,2017-07-18,Transfer,Transfer from SERVICE CHECKING,EMERSYN,credit,450.00,1,In
4554,2017-07-18,2017-07-18,Transfer,Transfer from SERVICE CHECKING,SAFETY NET,credit,300.00,1,In
4555,2017-07-18,2017-07-18,Transfer,Transfer to BABY,CHECKING,debit,450.00,1,In
4556,2017-07-18,2017-07-18,Transfer,Transfer to CREDIT CARD,CHECKING,debit,450.00,2,In
4557,2017-07-18,2017-07-18,Transfer,Transfer to HOUSE,CHECKING,debit,300.00,1,In
4564,2017-07-20,2017-07-20,Transfer,Capital One,Venture,credit,1520.00,1,In
4565,2017-07-20,2017-07-20,Transfer,Transfer from CLUB SAVINGS,CHECKING,credit,605.00,1,In
4566,2017-07-20,2017-07-20,Transfer,Transfer from CREDIT CARD,CHECKING,credit,1520.22,1,In
4567,2017-07-20,2017-07-20,Transfer,Transfer from SERVICE CHECKING,CREDIT CARD,credit,225.00,2,In
...,...,...,...,...,...,...,...,...,...
9740,2019-11-17,2019-11-17,Transfer,Transfer from 28931229-02S 11/17/2019 17:56 85...,CHECKING,credit,3000.00,1,In
9741,2019-11-17,2019-11-17,Transfer,Transfer to 28931229-09S 11/17/2019 17:16 851278,SAFETY NET,debit,250.00,1,In
9742,2019-11-17,2019-11-17,Transfer,Transfer to 28931229-09S 11/17/2019 17:56 851671,CREDIT CARD,debit,3000.00,1,In
9745,2019-11-18,2019-11-18,Transfer,Transfer from 28931229-00S 11/18/2019 07:50 85...,CHECKING,credit,150.00,1,In
9746,2019-11-18,2019-11-18,Transfer,Transfer to 28931229-09S 11/18/2019 07:50 856019,SAFETY NET,debit,150.00,1,In
9749,2019-11-19,2019-11-19,Transfer,DISCOVER DESC: E-PAYMENT,CHECKING,debit,2953.35,1,In
9767,2019-11-21,2019-11-21,Transfer,Transfer from 28931229-09S 11/21/2019 06:59 89...,SAFETY NET,credit,600.00,1,In
9768,2019-11-21,2019-11-21,Transfer,Transfer from 28931229-09S 11/21/2019 07:00 89...,CREDIT CARD,credit,250.00,1,In
9769,2019-11-21,2019-11-21,Transfer,Transfer to 28931229-00S 11/21/2019 06:59 898454,CHECKING,debit,600.00,1,In
9770,2019-11-21,2019-11-21,Transfer,Transfer to 28931229-02S 11/21/2019 07:00 898470,CHECKING,debit,250.00,1,In
9778,2019-11-22,2019-11-22,Transfer,Transfer from 28931229-09S 11/22/2019 16:10 92...,EMERSYN,credit,10.00,1,In
9779,2019-11-22,2019-11-22,Transfer,Transfer from 28931229-09S 11/22/2019 16:43 92...,SAFETY NET,credit,10.00,1,In
9780,2019-11-22,2019-11-22,Transfer,Transfer to 28931229-00S 11/22/2019 16:43 922770,CHECKING,debit,10.00,1,In
9781,2019-11-22,2019-11-22,Transfer,Transfer to 28931229-03S 11/22/2019 16:10 922008,CHECKING,debit,10.00,1,In
9811,2019-11-25,2019-11-25,Transfer,Transfer from 28931229-00S 11/25/2019 17:48 95...,CREDIT CARD,credit,600.10,1,In
9812,2019-11-25,2019-11-25,Transfer,Transfer to 28931229-02S 11/25/2019 17:48 958169,SAFETY NET,debit,600.10,1,In
9815,2019-11-26,2019-11-26,Transfer,INTERNET PAYMENT - THANK YOU,Discover,credit,1300.00,1,In
9819,2019-11-26,2019-11-26,Transfer,Transfer from 28931229-02S 11/26/2019 15:05 97...,CHECKING,credit,1296.00,1,In
9820,2019-11-26,2019-11-26,Transfer,Transfer to 28931229-09S 11/26/2019 15:05 976182,CREDIT CARD,debit,1296.00,1,In
9822,2019-11-27,2019-11-27,Transfer,DISCOVER DESC: E-PAYMENT,CHECKING,debit,1300.00,1,In
9831,2019-11-29,2019-11-29,Transfer,Transfer from 28931229-09S 11/29/2019 16:10 26706,EMERSYN,credit,10.00,1,In
9832,2019-11-29,2019-11-29,Transfer,Transfer to 28931229-03S 11/29/2019 16:10 26706,CHECKING,debit,10.00,1,In
9847,2019-12-03,2019-12-03,Transfer,28931229-00s 12/03/2019 10:49 90496,STARTER CIV VISA,credit,113.92,1,In
9848,2019-12-03,2019-12-03,Transfer,28931229-01L 12/03/2019 10:49 90496,SAFETY NET,debit,113.92,1,In
9864,2019-12-06,2019-12-06,Transfer,Transfer from 28931229-09S 12/06/2019 08:08 14...,CREDIT CARD,credit,600.00,1,In
9865,2019-12-06,2019-12-06,Transfer,Transfer from 28931229-09S 12/06/2019 16:10 14...,EMERSYN,credit,10.00,1,In
9866,2019-12-06,2019-12-06,Transfer,Transfer from 28931229-09S 12/06/2019 16:43 14...,SAFETY NET,credit,10.00,1,In
9867,2019-12-06,2019-12-06,Transfer,Transfer to 28931229-00S 12/06/2019 16:43 149727,CHECKING,debit,10.00,1,In
9868,2019-12-06,2019-12-06,Transfer,Transfer to 28931229-02S 12/06/2019 08:08 141444,CHECKING,debit,600.00,1,In
9869,2019-12-06,2019-12-06,Transfer,Transfer to 28931229-03S 12/06/2019 16:10 148977,CHECKING,debit,10.00,1,In

In [19]:
fin4.set_index('Date', inplace=True)
fin4.columns = fin4.columns.str.replace(r"[_]"," ")

In [20]:
df = fin4[['Month', 'Sub-Category', 'Description', 'Account Name',
       'Transaction Type', 'Count', 'Amount', 'Transfer Type']]

In [21]:
fin4_writer = pd.ExcelWriter('../data/final/transfer_report.xlsx', engine = 'xlsxwriter',
                            datetime_format = 'mm/dd/yyyy')

df.to_excel(fin4_writer, 'Data')
workbook = fin4_writer.book
worksheet = fin4_writer.sheets['Data']
curFormat = workbook.add_format({'num_format': '$#,##0.00_);[Red]($#,##0.00)'})
worksheet.set_column('D:D', None, curFormat)
fin4_writer.save()

In [22]:
input=input("Press here to close:")

Press here to close: